<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AsyncBlur.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>72641D2AA6AEBA2C5D2A1893F9A28148</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FAA7CE591D5CC66600829C0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FABE5B1F1D26B1E800BA0178</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
